%h1 Spaces

.section
  = link_to image_tag('icons/add.png')+"New Space", session_filter(new_space_path), {class:'button_link'}
  <br/>

.section
  %h2 Spaces Tree
  .spaces
    - spaces = Space.order('lft ASC')
    = nested_li(spaces) do |space|
      .space
        .body= link_to space.name, space