.page-header
  %h1
    Spaces
    %small Where events happen
    = link_to add_link_text("New Space"), session_filter(new_space_path), {class:'btn pull-right'}

%h2 Spaces Tree
.spaces
  - spaces = Space.order('lft ASC')
  = nested_li(spaces) do |space|
    .space
      .body
        = link_to space.name, space
        - if space.maps.count > 0
          <i class='icon-map-marker'></i>