%h1 Spaces

.section
  = link_to image_tag('icons/add.png')+"New Space", session_filter(new_space_path), {class:'button_link'}
  <br/>

.section
  %h2 Spaces Tree
  %ul
    - Space.all.keep_if{|s| s.level.==0}.each do |root_space|
      %ul.spaces_tree
        = display_segment(root_space)
