%h1= @space.name

.section
  = space_breadcrumbs(@space)

.section
  - if @space.children.count > 0
    Contained Spaces:
    = @space.children.collect {|child| link_to child.name, child}.join(", ").html_safe


