= content_tag "div", class: "running_events_chart", id: "rundown_chart_#{schedule.id}",
              data: {url: "#{convention_schedule_url(convention, schedule)}.json"} do
  Loading running events chart...