%li
  = link_to default_convention_name, default_convention
  %ul
    - Convention.all.each do |con|
      %li
        %a= link_to con.name, con

    %li
      %a= link_to 'All conventions', conventions_path