/*
 * CSS for the scheduling application
 */

#schedule {
    width: 100%;
    margin: 1em 0em;
    position: relative;

    background: transparent;
}

/* Locations */

#schedule #locations {
    width: 200px;
    padding-right: 1px;
    float: left;
}

#schedule #locations .header {
    width: 100%;
    height: 25px;
    background: white;
    border-bottom: 2px solid #DDD;
    border-right: 1px solid #ddd;
}

#schedule #locations .location {
    width: 100%;
    height: 50px;
    text-align: center;

    background: transparent;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#schedule #locations .odd {
    background: #f9f9f9;
}

.location .name {
    padding: 16px;
}

.location .name a, .location .name a:visited {
    font-size: 13px;
    color: #333;
    font-weight: bold;
}

.location .name a:hover, .location .name a:active {
    color: #606060;
}

/* Matrix */
#schedule #matrix {
    position: relative;
    overflow-x: scroll;
}

#schedule #matrix .header {
    position: relative;
}

#schedule #matrix .header .hour {
    display: block;
    position: relative;
    float: left;
    padding-top: 3px;
    padding-left: 4px;
    padding-bottom: 5px;
    width: 95px;

    font-size: 0.8em;
    height: 17px;

    border-left:  1px solid #DDD;
    border-bottom: 2px solid #DDD;

    color: #333;
    font-weight: bold;
    background: transparent;
}

.track {
    width: 100%;
    height: 50px;
    background: transparent;
    float: left;
    border-bottom: 1px solid #ddd;
}

.odd {
    background: #F9F9F9;
}

a.reservation, a.reservation:visited {
    float: left;
    height: 48px;
    display: block;
    position: absolute;
    overflow: hidden;

    text-decoration: none;
    padding: 0px;

    font-size: 10px;
    line-height: 12px;
}

.reservation .name {
    padding: 4px 0px;
}


/* Styles for google charts */
.running_events_chart {
    overflow: hidden;
}