%span.inline_time_span{:id => "time_span_#{time_span.id}"}
  %span.time_span_text
    = time_span_summary(time_span)

  %span.delete
    = link_to image_tag("icons/pencil.png"), edit_event_time_span_path(event)
    = link_to image_tag("icons/cross.png"), event_time_span_path(event), :method=>:delete, :confirm=>"Are you sure?"